# Loading data

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
cd drive/MyDrive

[Errno 2] No such file or directory: 'drive/MyDrive'
/content/drive/MyDrive

In [16]:
import pandas as pd
data=pd.read_csv("data.csv",encoding="utf-8")

In [18]:
print(len(data))
data.head(30)

75182

           grapheme             phoneme
0                ره   rahmatollAh'alayh
1                ره         rahmatollAh
2                 ص  salavAtollAh'alayh
3                 ع       'alayhessalAm
4                عج   'ajalallAhota'AlA
5              ق.ا.        qanune'asAsi
6              ق.م.        qanunemadani
7              ق.م.         qablazmilAd
8               ق.م         qablazmilAd
9               ق‌م         qablazmilAd
10                م              milAdi
11             ه.ش.        hejriyeSamsi
12              ه.ش        hejriyeSamsi
13              ه‌ش        hejriyeSamsi
14             ه.ق.       hejriyeqamari
15              ه.ق       hejriyeqamari
16              ه‌ق       hejriyeqamari
17                ا               'alef
18                ا                  'e
19                ا                  'A
20               اب                 'ab
21              ابا                'ebA
22              ابا                'abA
23             اباء                ebA'
24  اباالفضل‌العباس     abalfazle'abbAs
25           ابابکر            'abAbakr
26           ابابیل             'abAbil
27          اباجعفر          'abAja'far
28           اباحتی            'ebAhati
29            اباحه              'ebAhe

## Deleting 0 to 19 rows:
because they are abbreviations in persian

In [19]:
data=data.drop(data.index[:20])
print(len(data))
data.head(30)

75162

           grapheme           phoneme
20               اب               'ab
21              ابا              'ebA
22              ابا              'abA
23             اباء              ebA'
24  اباالفضل‌العباس   abalfazle'abbAs
25           ابابکر          'abAbakr
26           ابابیل           'abAbil
27          اباجعفر        'abAja'far
28           اباحتی          'ebAhati
29            اباحه            'ebAhe
30        اباحه‌گری        'ebAhegari
31            اباحی            'ebAhi
32          اباحیگر         'ebAhigar
33         اباحیگری        'ebAhigari
34            ابادت           'ebAdat
35            اباذر           'abAzar
36             ابار             'abAr
37           اباریق           'abAriq
38           اباطیل           'abAtil
39     اباعبدالرحمن  'abA'abdorrahmAn
40       اباعبدالله     'abA'abdellAh
41      اباعبدالملک   'abA'abdolmalek
42            اباعد           'abA'ed
43            اباقا            'AbAqA
44         اباقاخان         'AbAqAxAn
45           ابالسه          'abAlese
46           ابالیس           'abAlis
47             ابام             'abAm
48             ابان             'abAn
49            ابانت           'ebAnat

## Splitting data to train,validation,test

In [21]:
graphemes=list(data["grapheme"])
phonemes=list(data["phoneme"])
len(graphemes),len(phonemes)

(75162, 75162)

In [22]:
all_data=[]
for i in range(len(graphemes)):
  all_data.append((graphemes[i],phonemes[i]))

In [33]:
all_data[70000]

('نگاشتن', 'negAStan')